@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #363732;
    color : #53D8FB;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 42px;
    font-display: block;
}

p {
    font-size: 32px;
    color: #DCE1E9;
}

button {
    background-color: #66C3FF;
    border: 1px solid #DCE1E9;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}
