@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #363732;
    color : #DCE1E9;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
